<div class="animated fadeIn">
    <div class="footer">
        <div class="pull-right">
            <label>@DateTime.Now.Day / @DateTime.Now.Month / @DateTime.Now.Year</label>
        </div>
        <div>
            <strong>الحاسب الآلي</strong>
        </div>
    </div>
</div>
