
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>







@section Styles {
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")


}

@section Scripts {
    @Scripts.Render("~/plugins/chosen")



    <script>

    </script>
}